// Menu Button: Initial
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
  @include easeOut;

  .brg-line {
    color: yellow;
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: white;
    @include easeOut;
  }

  //Menu Btn: when clicked
  &.close {
    transform: rotate(180deg);

    .brg-line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}
